interfaces {
{% for interface in interfaces %}
  {{ interface.int_name }} {
      unit 0 {
          family inet {
              address {{ interface.ip_address }};
        }
    }
  }
{% endfor %}
}
