interfaces {
{% for interface in interfaces %}
  {{ interface.int_name }} {
      {% if interface.disabled %}disable;{% endif %}
      unit 0 {
          family inet {
              address {{ interface.ip_address }};
        }
    }
  }
{% endfor %}
{% for interface in disabled_interfaces %}
  {{ interface }} {
      disable;
}
